# Estatística descritiva

In [1]:
import pandas as pd

In [15]:
caminho = '/home/franciscofoz/Documents/GitHub/math-stats-training/Datasets/BDTD_inteligencia_artificial/BDTD_InteligenciaArtificial_assunto_20230214.csv'

bdtd_IA = pd.read_csv(caminho,sep=';')
bdtd_IA.head()

,id,title,authors,subjectsPOR,institutions,types,accesslevel,publicationDates,urls,formats,languages,Unnamed: 11
0,UNICAMP-30_3eab6a0503320dbba22284fde51a1cb4,Uma arquitetura para agentes inteligentes base...,"primary[Brenner, Mauren Fernanda Meira(NA)]",Inteligência artificial|Inteligencia artificia...,UNICAMP,masterThesis,openAccess,1996,https://hdl.handle.net/20.500.12733/1585158,masterThesis,por,NaN
1,UNB_e2dcc7d163164df0752c84252a650503,A proteção da vítima de danos causados por uma...,"primary[Coutinho, Marina de Alencar Araripe(NA)]",NaN,UNB,masterThesis,openAccess,2022,https://repositorio.unb.br/handle/10482/43971,masterThesis,por,NaN
2,UFMS_88fb1aabdd20b3a60686ebf024354f58,Rede Neural Difusa com T-normas Diferenciáveis...,"primary[Oliveira, Fabiano Ricardo de(NA)]",Inteligência Artificial|Redes Neurais|Fuzzy (I...,UFMS,masterThesis,openAccess,2007,https://repositorio.ufms.br/handle/123456789/463,masterThesis,por,NaN
3,UFC-7_1d8c12f78c3a3ef64d41d2bdd4c8b82f,Lógicas não-monotônicas,"primary[Pequeno, Marcelino Cavalcante(NA)]",Inteligência Artificial|Artificial Intelligence,UFC,masterThesis,openAccess,1985,http://www.repositorio.ufc.br/handle/riufc/31875,masterThesis,por,NaN
4,UECE-0_abd8841da6bba9021c15205efbfd05f3,DETECÇÃO DA PRESENÇA DO CAPACETE DE SEGURANÇA ...,"primary[MAIA, FELIPE JOSÉ AGUIAR(NA)]",Inteligência artificial,UECE,masterThesis,openAccess,2015,https://siduece.uece.br/siduece/trabalhoAcadem...,masterThesis,por,NaN

In [33]:
bdtd_IA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734 entries, 0 to 1733
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1734 non-null   object
 1   title             1734 non-null   object
 2   authors           1734 non-null   object
 3   subjectsPOR       1446 non-null   object
 4   institutions      1734 non-null   object
 5   types             1734 non-null   object
 6   accesslevel       1734 non-null   object
 7   publicationDates  1734 non-null   int64
 8   urls              1733 non-null   object
 9   formats           1734 non-null   object
 10  languages         1675 non-null   object
 11  Unnamed: 11       0 non-null      float64
dtypes: float64(1), int64(1), object(10)
memory usage: 162.7+ KB

## Quantidade total de trabalhos

In [23]:
total_trabalhos = bdtd_IA.shape[0]
print('A quantidade total de trabalhos foi de ',total_trabalhos)

A quantidade total de trabalhos foi de  1734

## Quantidade teses e dissertações

In [43]:
quantidade_teses_dissertacoes = bdtd_IA['types'].value_counts()
quantidade_teses_dissertacoes

masterThesis      1284
doctoralThesis     450
Name: types, dtype: int64

In [38]:
percentual_teses_dissertacoes = bdtd_IA['types'].value_counts(normalize=True).round(2)*100
percentual_teses_dissertacoes

masterThesis      74.0
doctoralThesis    26.0
Name: types, dtype: float64

In [46]:
pd.DataFrame({'Frequência':quantidade_teses_dissertacoes,
              'Percentual(%)':percentual_teses_dissertacoes})

                Frequência  Percentual(%)
masterThesis          1284           74.0
doctoralThesis         450           26.0

In [52]:
def tabela_frequencia(df,variavel):
    '''
    Esta função irá realizar uma tabela de frequência de acordo com a variavel inserida
    do conjunto de dados extraídos da BDTD sobre "Inteligência Artificial".
    
    df = Conjunto de dados
    variavel = Variável do conjunto de dados da armazenadas na BDTD
    '''
    frequencia = df[variavel].value_counts()
    percentual = df[variavel].value_counts(normalize=True).round(4)*100

    tabela_freq = pd.DataFrame({'Frequência':frequencia,
                                'Percentual(%)':percentual})
    
    return tabela_freq

In [64]:
freq_dissertacoes_teses = tabela_frequencia(bdtd_IA,'types')
freq_dissertacoes_teses

                Frequência  Percentual(%)
masterThesis          1284          74.05
doctoralThesis         450          25.95

In [65]:
freq_dissertacoes_teses.rename(index = {'masterThesis': 'Dissertação', 'doctoralThesis': 'Tese'}, inplace = True)
freq_dissertacoes_teses

             Frequência  Percentual(%)
Dissertação        1284          74.05
Tese                450          25.95

## Quantidade de trabalhos por instituição

In [73]:
freq_instituicoes = tabela_frequencia(bdtd_IA,'institutions')
freq_instituicoes

           Frequência  Percentual(%)
UNICAMP           239          13.78
UFSC              200          11.53
UFRGS             193          11.13
ITA               140           8.07
UFPE              122           7.04
...               ...            ...
FURB                1           0.06
CPRM                1           0.06
Ânima               1           0.06
IFRN                1           0.06
UNISANTOS           1           0.06

[76 rows x 2 columns]

#### Top 10 instituições

In [57]:
freq_instituicoes.head(10)

         Frequência  Percentual(%)
UNICAMP         239          13.78
UFSC            200          11.53
UFRGS           193          11.13
ITA             140           8.07
UFPE            122           7.04
UFCG             69           3.98
UTFPR            60           3.46
UFPR             57           3.29
UFSCAR           54           3.11
UNB              51           2.94

## Quantidade de teses e dissertações por instituição

In [117]:
freq_instituicoes_trabalhos = pd.crosstab(bdtd_IA.institutions,bdtd_IA.types)
freq_instituicoes_trabalhos['Trabalhos'] = freq_instituicoes_trabalhos.sum(axis=1)
freq_instituicoes_trabalhos.rename(columns = {'masterThesis': 'Dissertação', 'doctoralThesis': 'Tese'}, inplace = True)
freq_instituicoes_trabalhos.sort_values(by='Trabalhos',ascending=False,inplace=True)
freq_instituicoes_trabalhos

types         Tese  Dissertação  Trabalhos
institutions
UNICAMP         98          141        239
UFSC            48          152        200
UFRGS           60          133        193
ITA             39          101        140
UFPE            48           74        122
...            ...          ...        ...
LNCC             0            1          1
IFRN             0            1          1
IBICT            0            1          1
FURB             0            1          1
Ânima            0            1          1

[76 rows x 3 columns]

In [124]:
freq_percentual_instituicoes_trabalhos = pd.crosstab(bdtd_IA.institutions,bdtd_IA.types,normalize=True).round(5)*100

# Soma da quantidade total de trabalhos
freq_percentual_instituicoes_trabalhos['Trabalhos'] = freq_percentual_instituicoes_trabalhos.sum(axis=1)

#Ajustando nomenclatura das colunas
freq_percentual_instituicoes_trabalhos.rename(columns = {'masterThesis': 'Dissertação', 'doctoralThesis': 'Tese'}, inplace = True)

#Ordenação por quantidade de trabalhos
freq_percentual_instituicoes_trabalhos.sort_values(by='Trabalhos',ascending=False,inplace=True)


freq_percentual_instituicoes_trabalhos

types          Tese  Dissertação  Trabalhos
institutions
UNICAMP       5.652        8.131     13.783
UFSC          2.768        8.766     11.534
UFRGS         3.460        7.670     11.130
ITA           2.249        5.825      8.074
UFPE          2.768        4.268      7.036
...             ...          ...        ...
LNCC          0.000        0.058      0.058
IFRN          0.000        0.058      0.058
IBICT         0.000        0.058      0.058
FURB          0.000        0.058      0.058
Ânima         0.000        0.058      0.058

[76 rows x 3 columns]

## Quantidade de trabalhos por ano

In [129]:
bdtd_IA.head()

,id,title,authors,subjectsPOR,institutions,types,accesslevel,publicationDates,urls,formats,languages,Unnamed: 11
0,UNICAMP-30_3eab6a0503320dbba22284fde51a1cb4,Uma arquitetura para agentes inteligentes base...,"primary[Brenner, Mauren Fernanda Meira(NA)]",Inteligência artificial|Inteligencia artificia...,UNICAMP,masterThesis,openAccess,1996,https://hdl.handle.net/20.500.12733/1585158,masterThesis,por,NaN
1,UNB_e2dcc7d163164df0752c84252a650503,A proteção da vítima de danos causados por uma...,"primary[Coutinho, Marina de Alencar Araripe(NA)]",NaN,UNB,masterThesis,openAccess,2022,https://repositorio.unb.br/handle/10482/43971,masterThesis,por,NaN
2,UFMS_88fb1aabdd20b3a60686ebf024354f58,Rede Neural Difusa com T-normas Diferenciáveis...,"primary[Oliveira, Fabiano Ricardo de(NA)]",Inteligência Artificial|Redes Neurais|Fuzzy (I...,UFMS,masterThesis,openAccess,2007,https://repositorio.ufms.br/handle/123456789/463,masterThesis,por,NaN
3,UFC-7_1d8c12f78c3a3ef64d41d2bdd4c8b82f,Lógicas não-monotônicas,"primary[Pequeno, Marcelino Cavalcante(NA)]",Inteligência Artificial|Artificial Intelligence,UFC,masterThesis,openAccess,1985,http://www.repositorio.ufc.br/handle/riufc/31875,masterThesis,por,NaN
4,UECE-0_abd8841da6bba9021c15205efbfd05f3,DETECÇÃO DA PRESENÇA DO CAPACETE DE SEGURANÇA ...,"primary[MAIA, FELIPE JOSÉ AGUIAR(NA)]",Inteligência artificial,UECE,masterThesis,openAccess,2015,https://siduece.uece.br/siduece/trabalhoAcadem...,masterThesis,por,NaN

In [130]:
freq_ano = tabela_frequencia(bdtd_IA,'publicationDates')
freq_ano

      Frequência  Percentual(%)
2019         115           6.63
2018          95           5.48
2020          89           5.13
2021          88           5.07
2017          84           4.84
2015          81           4.67
2012          74           4.27
2003          70           4.04
2008          68           3.92
2011          68           3.92
2009          67           3.86
2014          65           3.75
2006          59           3.40
2016          56           3.23
2002          55           3.17
2001          52           3.00
2010          51           2.94
2005          51           2.94
2004          47           2.71
2007          47           2.71
2022          46           2.65
2013          43           2.48
1999          41           2.36
1997          36           2.08
2000          36           2.08
1996          30           1.73
1998          24           1.38
1995          18           1.04
1993          15           0.87
1991          14           0.81
1990          13           0.75
1994          12           0.69
1992          10           0.58
1989           5           0.29
1988           4           0.23
1987           2           0.12
1986           1           0.06
1985           1           0.06
1984           1           0.06

## Quantidade de dissertações por ano

In [134]:
bdtd_IA_dissertacoes = bdtd_IA.query("types == 'masterThesis'")

In [135]:
freq_dissertacoes_ano = tabela_frequencia(bdtd_IA_dissertacoes,'publicationDates')
freq_dissertacoes_ano

      Frequência  Percentual(%)
2019          85           6.62
2020          71           5.53
2021          65           5.06
2012          62           4.83
2015          61           4.75
2018          60           4.67
2009          59           4.60
2003          53           4.13
2008          51           3.97
2011          51           3.97
2017          49           3.82
2014          45           3.50
2002          42           3.27
2001          40           3.12
2022          40           3.12
2006          38           2.96
2010          37           2.88
2016          37           2.88
2007          37           2.88
2004          34           2.65
2005          33           2.57
1997          30           2.34
1999          29           2.26
2000          28           2.18
2013          27           2.10
1996          19           1.48
1998          19           1.48
1995          14           1.09
1993          14           1.09
1990          12           0.93
1991          11           0.86
1992          10           0.78
1994           8           0.62
1988           4           0.31
1989           4           0.31
1987           2           0.16
1986           1           0.08
1985           1           0.08
1984           1           0.08

## Quantidade de teses por ano

In [137]:
bdtd_IA_teses = bdtd_IA.query("types == 'doctoralThesis'")

In [138]:
freq_dissertacoes_ano = tabela_frequencia(bdtd_IA_teses,'publicationDates')
freq_dissertacoes_ano

      Frequência  Percentual(%)
2017          35           7.78
2018          35           7.78
2019          30           6.67
2021          23           5.11
2006          21           4.67
2015          20           4.44
2014          20           4.44
2016          19           4.22
2005          18           4.00
2020          18           4.00
2003          17           3.78
2011          17           3.78
2008          17           3.78
2013          16           3.56
2010          14           3.11
2004          13           2.89
2002          13           2.89
1999          12           2.67
2001          12           2.67
2012          12           2.67
1996          11           2.44
2007          10           2.22
2000           8           1.78
2009           8           1.78
2022           6           1.33
1997           6           1.33
1998           5           1.11
1995           4           0.89
1994           4           0.89
1991           3           0.67
1989           1           0.22
1993           1           0.22
1990           1           0.22

## Demais assuntos relacionados

# Média, Moda e Mediana 
## Exemplo por ano